<p [style.color]="titleColor">Titlul este {{ title | uppercase }}</p>
<p>Note content is: {{noteContent}}</p>

<mat-card class="add-note-card">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
 </mat-card>

<!-- <button mat-icon-button (click)="setTitle(title_color.value)"> <mat-icon>add</mat-icon></button>
<mat-form-field>
    <input #title_color name="title_color" matInput placeholder="Add Note" [(ngModel)]= "noteContent"/>
</mat-form-field>  -->

<p>Current date is: {{ currentDate | date : 'shortDate' }}</p>
<p>Number is {{ 15 | addValue : 1}}</p>

<!-- <div *ngFor="let element of array; let i=index; let odd=odd;">
    <p> {{element}} </p>
    <p> At index {{i}} </p>
    <p> Is index an odd number?: {{odd}} </p>
    </div> -->

<div *ngFor="let element of My_list; let i=index; let odd=odd;">
    <div style="display: {{odd ? 'block' : 'none'}};">
        <p> Brand: {{element | lowercase}} </p>
        <p> At index: {{i}} </p>
        <p> Is index an odd number?: {{odd}} </p>
        =========================================
    </div>
</div>